body {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  background-color: black;
  color: #1EFF00;
  font-size: 1px;
  transform: scale(0.6);
  transform-origin: top center
}

.nodisplay {
  display: none;
}